body {
    background-color: #FFFFFF;
    color: #333333;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;
    font-weight: 400;
    margin-top: 0;
  }

  h1 {
    font-size: 32px;
    margin-block-end: 0%;
  }
  
  h2 {
    font-size: 22px;
  }
  
  h3 {
    font-size: 18px;
    font-weight: 600;
  }
  
  h4 {
    font-size: 16px;
  }

  p {
    
    margin-block-end: 0%;
  
  }

  .p-top{
    border-top: 1px solid #ddd;
    padding-top: 15px;
  }

  #p-bottom{
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
  }

  .article-header {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 0%;
  }

  .article-content {
    line-height: 1.6;
    margin: 40px 0;
    word-wrap: break-word;
   text-align: center;
  }

  .article-author {
    margin: 0;
    text-align: left;
  }

  .header {
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 5%;
    position: relative;
    align-items: center;
    display: flex;
    height: 71px;
    justify-content: space-between;
  }

  .logo img {
    max-height: 37px;
  }

  .container {
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 5%;
    text-align: left;
  }